Ce notebook prend les tirages donnés dans les db_snapshots pour créer un fichier unifié "df_{draw_mode}.csv"

In [46]:
import pandas as pd

In [47]:
WorkingFolder = "."

In [48]:
draw_mode = "equiprobable_mode" # weighted_mode_2 or equiprobable_mode

In [49]:
df_meta = pd.read_csv(f"{WorkingFolder}/meta_{draw_mode}.csv", parse_dates=[3])

In [50]:
df_meta

,id,upsert_date,contributor,algo_start_date,batch_nb,mode,init_batch_size,update_batch_size
0,1,2023-10-04 15:38:03.34838+00,jesshuan,2023-10-04 14:31:07.337775+00:00,1,equiprobable,10000,9174
1,2,2023-10-04 16:43:26.496778+00,jesshuan,2023-10-04 14:31:07.337775+00:00,2,equiprobable,10000,9117
2,3,2023-10-04 17:47:22.929454+00,jesshuan,2023-10-04 14:31:07.337775+00:00,3,equiprobable,10000,9146
3,4,2023-10-04 18:57:28.539283+00,jesshuan,2023-10-04 14:31:07.337775+00:00,4,equiprobable,10000,9163
4,5,2023-10-04 20:05:31.232985+00,jesshuan,2023-10-04 14:31:07.337775+00:00,5,equiprobable,10000,9171
...,...,...,...,...,...,...,...,...
95,96,2023-10-09 00:59:11.037358+00,jesshuan,2023-10-04 14:31:07.337775+00:00,96,equiprobable,10000,9135
96,97,2023-10-09 02:06:14.727461+00,jesshuan,2023-10-04 14:31:07.337775+00:00,97,equiprobable,10000,9135
97,98,2023-10-09 03:12:46.872273+00,jesshuan,2023-10-04 14:31:07.337775+00:00,98,equiprobable,10000,9160
98,99,2023-10-09 04:23:31.843864+00,jesshuan,2023-10-04 14:31:07.337775+00:00,99,equiprobable,10000,9122
99,100,2023-10-09 05:31:50.423382+00,jesshuan,2023-10-04 14:31:07.337775+00:00,100,equiprobable,10000,9144

In [51]:
s_files = f"db_snapshot_exp_{draw_mode}_" + \
    df_meta.algo_start_date.dt.strftime("%Y-%m-%d_%H_%M_%S") + \
    "_" + \
    df_meta.batch_nb.astype(str)+ "_" + \
    df_meta.update_batch_size.astype(str)

In [52]:
s_files

0     db_snapshot_exp_equiprobable_mode_2023-10-04_1...
1     db_snapshot_exp_equiprobable_mode_2023-10-04_1...
2     db_snapshot_exp_equiprobable_mode_2023-10-04_1...
3     db_snapshot_exp_equiprobable_mode_2023-10-04_1...
4     db_snapshot_exp_equiprobable_mode_2023-10-04_1...
                            ...
95    db_snapshot_exp_equiprobable_mode_2023-10-04_1...
96    db_snapshot_exp_equiprobable_mode_2023-10-04_1...
97    db_snapshot_exp_equiprobable_mode_2023-10-04_1...
98    db_snapshot_exp_equiprobable_mode_2023-10-04_1...
99    db_snapshot_exp_equiprobable_mode_2023-10-04_1...
Length: 100, dtype: object

In [53]:
s_files[0]

'db_snapshot_exp_equiprobable_mode_2023-10-04_14_31_07_1_9174'

In [54]:
def get_s_data_draw(n_draw):
    s_data = pd.read_csv(
                        f"{WorkingFolder}/{draw_mode}/" + s_files[n_draw], 
                         index_col = 0, 
                         usecols=[1,2],
                         ).squeeze()
    s_data.name = f"draw_{n_draw}"
    return s_data

In [55]:
df_data = pd.concat([get_s_data_draw(i) for i in range(len(s_files))],axis=1)

In [56]:
df_data

,draw_0,draw_1,draw_2,draw_3,draw_4,draw_5,draw_6,draw_7,draw_8,draw_9,...,draw_90,draw_91,draw_92,draw_93,draw_94,draw_95,draw_96,draw_97,draw_98,draw_99
insee,,,,,,,,,,,,,,,,,,,,,
7279,426.0,1018.0,1430.0,1885.0,2295.0,2773.0,3200.0,3607.0,4073.0,4446.0,...,40735.0,41162.0,41505.0,42129.0,42556.0,42989.0,43499.0,43954.0,44327.0,44916
34340,1442.0,2836.0,4125.0,5520.0,6918.0,8568.0,10119.0,11716.0,13103.0,14743.0,...,131225.0,132652.0,134015.0,135520.0,136911.0,138385.0,139800.0,141154.0,142598.0,143897
11434,1400.0,2685.0,3785.0,4963.0,5993.0,7276.0,8751.0,10074.0,11217.0,12464.0,...,110661.0,111926.0,113143.0,114273.0,115415.0,116494.0,117578.0,119144.0,120487.0,121501
89198,919.0,1855.0,2694.0,3573.0,4346.0,5245.0,6130.0,7048.0,7858.0,8640.0,...,79250.0,80027.0,80878.0,81861.0,82650.0,83493.0,84421.0,85251.0,86127.0,86929
89053,922.0,1852.0,2704.0,3588.0,4355.0,5256.0,6137.0,7060.0,7864.0,8633.0,...,79046.0,79821.0,80653.0,81628.0,82415.0,83261.0,84188.0,85021.0,85900.0,86699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
39180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
39468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
39253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
70017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [57]:
df_data.fillna(0).to_csv(f"{WorkingFolder}/df_{draw_mode}.csv")